<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
#RUTA Cambiar de acuerdo al proyecto
RewriteBase /cursophp/mvc/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>